body{
    font-family: 'Josefin Slab', serif;
    background: rgba(0,0,0,0.4) url(../Test_Images/Website\ Backgroundjpg.jpg) repeat fixed 100% ;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body .headers{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

/*Classes for the Design page*/

#design_pdf {
    margin-left: 15%;
    margin-right: 15%;
    height: 70vh;
}

#design_header .headers {
    margin-top: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 400%;
    color: white;
}

#pdf.e-content {
    width: 100%;
    height: 70vh;
}
