.nav-bar {
    position: sticky;
    top: 1vh;
    z-index: 9999;
}

.nav-list{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;  
}

.nav-bar .u-url{ 
    color: rgba(255, 255, 255, 0.9);
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    background: rgba(223, 45, 134, 1);
    padding: 10px 20px;
    border-radius: 70px;
    cursor: pointer;
}

.nav-bar .u-url:hover {
    background: rgba(223, 45, 134, 0.8)
}

.Hamburger_Logo {
    display: none;
}

.Hamburger_Logo section{
    background-color: white;
    height: 5px;
    width: 30px;
    margin: 0px 5px 5px 5px;
}

@media screen and (max-width: 1400px) {
    .nav-list{
        gap: 5px;
    }
    
}

@media screen and (max-width: 850px) {
    body {
        overflow-x: hidden;
    }
    .Hamburger_Logo {
        display: contents;
    }

    .nav-list{
        position: absolute;
        background: rgb(0, 0, 0);
        left: 0px;
        height: 100vh;
        top: 6vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 9999;
    }
}

.nav-bar .toggle_nav {
    transform: translateX(0%);   
}