body{
    font-family: 'Josefin Slab', serif;
    background: rgba(0,0,0,0.4) url(../Test_Images/Website\ Backgroundjpg.jpg) repeat fixed 100% ;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body .headers{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

/*Classes for the main hyperlinks*/

#hyperlinks{
    width: 100vw;
}

#hyperlinks ul{ 
    display: flex;
    justify-content: center;
    list-style: none;
}

#hyperlinks li{
    margin: 0 5%;
}

#hyperlinks .u-url{ 
    color: rgba(255, 255, 255, 0.9);
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    background: rgba(223, 45, 134, 1);
    padding: 10px 20px;
    border-radius: 70px;
}

#hyperlinks .u-url:hover {
    background: rgba(223, 45, 134, 0.8)
}

.Hamburger_Logo {
    display: none;
}

.Hamburger_Logo section{
    background-color: white;
    height: 5px;
    width: 30px;
    margin: 5px 5px 5px 5px;
}

/* Media query for different screen size*/


/*______________________________________________________________________________________________________________________________*/

/*Classes for the Portfolio page*/

#portfolio.h-entry {
    width: 95%;
    height: 380px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

#image.h-entry {
    margin-right: 900px;
    width: 40%;
}

#image .e-content{
    float: left;
    width: 100%;
    padding: 0 20px;
}

#description.e-content {
    color: rgb(255, 255, 255);
    font-size: 150%;
    text-align: left;
    padding: 5px 5px;
}

#description .u-url {
    color: rgba(22, 255, 240, 0.9);
}


/* Media query for different screen size*/
@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .Hamburger_Logo {
        display: block;
    }

    #hyperlinks ul{
        width: 100vw;
        height: 100vh;
        background: black;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        backdrop-filter: blur(100px);  
    }

    #hyperlinks .u-url {
        margin: 10% 0 10% 0;
    }
}

#hyperlinks .toggle_nav {
    transform: translate(0%);
    transition: transform 0.5s ease-in;
}

.grid_content.toggle_grid {
    transform: translate(-110%);
    transition: transform 0.5s ease-out;
}

/*______________________________________________________________________________________________________________________________*/